@{
    ViewBag.Title = "Home Page";
}
<h1>Calc Service Demonstration</h1>
<ul>
    <li><a asp-controller="Calc" asp-action="ManualParsingInSingleAction">Manual parsing in single action</a></li>
    <li><a asp-controller="Calc" asp-action="ManualParsingInSeparateActions">Manual parsing in separate actions</a></li>
    <li><a asp-controller="Calc" asp-action="ModelBindingParameters">Model Binding (Parameters)</a></li>
    <li><a asp-controller="Calc" asp-action="ModelBindingSeparateModel">Model Binding (Separate model)</a></li>
</ul>
